<h1>New Product</h1>
<%# these two lines will replace the below code and use the form partial we added %>
<%= render "form", product: @product %>
<%= link_to "Cancel", products_path %>
<%# <%= form_with model: @product do |form| %>
  <!-- <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %> %> -->
